:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(127, 163, 241, 0.87);
  background-color: rgb(31, 32, 35);
  background: linear-gradient(to right, rgb(31, 32, 35), rgb(24, 67, 157));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal {
  background-color: rgb(31, 32, 35);
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgb(24, 67, 157);
    background-color: rgb(113, 252, 206);
    background: linear-gradient(to right, rgb(113, 252, 206), rgb(29, 161, 242));
  }
  .modal {
    background-color: rgb(113, 252, 206);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
